*{box-sizing: border-box;}
*::after, *::before{
    box-sizing: inherit;
}
:root{
    --Pink: hsl(322, 100%, 66%);
    --VeryPaleCyan: hsl(193, 100%, 96%);
    --VeryDarkCyan: hsl(192, 100%, 9%);
    --GrayishBlue: hsl(208, 11%, 55%)
}
body{
    font-family: 'Open Sans', sans-serif;
    color: var(--GrayishBlue);
}
ul{
    list-style-type: none;
    padding: 0;
}
h1, h2{color: var(--VeryDarkCyan)}
.container{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.flex img{
    max-width: 100%;
    width: 50%;
    min-width: 50%;
}

/* header styling */
header{
    background-image: url('../images/bg-hero-desktop.svg');
    background-repeat: no-repeat;
    background-color: var(--VeryPaleCyan);
}
.headerContent p{
    color: var(--VeryDarkCyan);
    font-size: 16px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding-top: 40px;
}
.try-it-free{
    background-color: #fff;
    color: #333;
    border-radius: 20px;
    padding: 10px 50px;
    border: 1px solid var(--VeryPaleCyan);
}
header{margin-bottom: 100px;}
.headerContent div{margin-right: 40px; flex: 0.4;}
.headerContent img{margin-left: 30px; flex: 0.6;}
.getReadyBtn{
    background-color: var(--Pink);
    color: var(--VeryPaleCyan);
    border-radius: 25px;
    padding: 15px 50px;
    border: 1px solid var(--VeryPaleCyan);
}

/* grow-together styling*/
.small-container, .flowing-conversation > div{
    margin-bottom: 40px;
    border-radius: 20px;
    box-shadow: 1px 2px 8px 1px #e3e3e3;
    padding-left: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.small-container div{
    flex: 0.6;
    margin-right: 20px;
}
.small-container img{
    flex: 0.4;
    margin-left: 30px;
    padding-left: 100px;
}
.flowing-conversation > div > img{
    flex: 0.4;
    margin-right: 30px;
    padding-right: 100px;
}
.flowing-conversation > div > div{
    margin-left: 20px;
    flex: 0.6;
}
/* community styling*/
.community{
    box-shadow: 1px 2px 8px 1px hsl(0, 0%, 89%);
    display: inline-block;
    border-radius: 15px;
    height: 20%;
    width: 40%;
    padding: 20px;
    background-color: #fff;
    z-index: 1;
}
.alignCenter{
    text-align: center;
}

.footerContent{display: flex; flex-wrap: wrap;}
footer{
    background-color: var(--VeryDarkCyan);
    font-size: 14px;
    line-height: 3;
    color: #fff;
    padding-top: 100px;
    margin-top: -84px;
}
footer ul{list-style: none;padding: 0;}
footer ul li{color: #fff;}
footer ul li a{text-decoration: none;color: #fff;}
footer > div > div {
    justify-content: space-between;
}
footer ul li img{margin-right: 20px;}
.socialMedia{display: flex;justify-content: space-between;flex-wrap: wrap;}
.socialMedia a{margin-left: 20px;padding: 5px;}
.circle{border: 1px solid #fff; border-radius: 50%;}
.alignItemsFlexStart{align-items: flex-start;}
footer p{text-align: right; padding-bottom: 20px;}
.location{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.contactDetails{
    flex: 0.4;
}

/* media query */
@media (max-width: 768px){
    nav img{
        max-width: 30%;
    }
    nav button{
        padding: 5px 25px;
    }
    .textAlignCenter{
        text-align: center;
    }
    .small-container{
        padding: 30px;
        flex-flow: column-reverse;
        flex-direction: column-reverse;
    }
    .flex img{
        width: 100%;
    }
    .flex, .footerContent{
        flex-direction: column;
    }
    .headerContent img{
        margin-left: 0;
    }
    .headerContent div{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .small-container img{
        margin-left: 0;
        padding-left: 0px;
    }
    .small-container div{
        margin-right: 0;
    }
    .flowing-conversation > div > img {
      margin-right: 0px; 
      padding-right: 0px;
    }
    .flowing-conversation > div {
        padding: 10px;
    }
    .socialMedia{
        margin: 0 auto;
    }
    .container{
        padding: 10px;
    }
    .getReadyBtn{
    padding: 10px 8px;
    }
    .community{
        width: 80%;
    }

}
